td{
	/*padding: 10px  40px;*/
	/*background: #241CD3;*/
	padding: 20px;
	border: solid 10px #11650F ;
	margin: 20px;

}
.div1{
	width: 100px;
	height: 100px;
	border: solid 10px #11650F ;
	background: #F12121;
	margin: 20px;	
}

.div2{
	width: 100px;
	height: 100px;
	border: solid 10px #11650F ;
	background: #F12121;
	margin: 40px;	
}

.a1 ,.div1{
	width: 50%;
	height: 200px;
	background: red;

}